<script src="components/moment/moment.js"></script>
<script src="components/angular-moment/angular-moment.js"></script>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
    <!-- symboladdin [$] !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! WAZNE !!!!! -->
    <td mat-cell *matCellDef="let element"> {{element.value | number:'2.2'}} [ 💲 ]</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

    <!-- Entry Date Column -->
    <ng-container matColumnDef="entryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry Date </th>
      <td mat-cell *matCellDef="let element"> {{element.entryDate | date:'fullDate'}} </td>
    </ng-container>

  <ng-container matColumnDef="daysSince">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Days since entry </th>
    <td mat-cell *matCellDef="let element"> {{element.daysSince}}  [ day ] </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

